USE [ITICH]
GO
/****** Object:  Table [dbo].[Areas_negocios]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas_negocios](
	[id_area] [int] IDENTITY(1,1) NOT NULL,
	[id_parque] [int] NULL,
	[id_nome_area] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carateristicas_instalacoes]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carateristicas_instalacoes](
	[id_carateristicas] [int] IDENTITY(1,1) NOT NULL,
	[num_lotes] [int] NULL,
	[num_lotes_ocupados] [int] NULL,
	[estacionamento] [bit] NULL,
	[videovigilancia] [bit] NULL,
	[seguranca] [bit] NULL,
	[tipo_de_rede] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carateristicas_juridicas]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carateristicas_juridicas](
	[id_carateristica_juridica] [int] IDENTITY(1,1) NOT NULL,
	[tipo_carteristica] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dominios_cientificos_tecnologicos]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dominios_cientificos_tecnologicos](
	[id_dominio] [int] IDENTITY(1,1) NOT NULL,
	[id_parque] [int] NULL,
	[id_nome_dominio] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[id_empresa] [int] IDENTITY(1,1) NOT NULL,
	[nome_empresa] [nvarchar](50) NULL,
	[contacto_tel] [int] NULL,
	[password] [nvarchar](20) NOT NULL,
	[perfil] [int] NULL,
	[e_mail] [nvarchar](50) NULL,
	[validada] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Espacos_incubadora]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Espacos_incubadora](
	[id_espaco] [int] IDENTITY(1,1) NOT NULL,
	[tipo_espaco] [nvarchar](50) NULL,
	[id_incubadora] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fases_desenvolvimento]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fases_desenvolvimento](
	[id_fase_desenvolvimento] [int] IDENTITY(1,1) NOT NULL,
	[nome_fase] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incubadoras]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incubadoras](
	[id_incubadora] [int] IDENTITY(1,1) NOT NULL,
	[volume_negocios] [int] NULL,
	[numero_de_pessoas] [int] NULL,
	[nom_inc] [nvarchar](50) NULL,
	[id_parque] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instalacoes]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instalacoes](
	[id_instalacoes] [int] IDENTITY(1,1) NOT NULL,
	[id_carateristicas] [int] NULL,
	[id_parque] [int] NULL,
	[designaca] [nvarchar](50) NULL,
	[localidad] [nvarchar](50) NULL,
	[concelh] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localizacao]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localizacao](
	[id_localizacao] [int] IDENTITY(1,1) NOT NULL,
	[morada] [nvarchar](50) NULL,
	[distrit] [nvarchar](50) NULL,
	[concelh] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nome_area]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nome_area](
	[id_nome_area] [int] IDENTITY(1,1) NOT NULL,
	[nome_area] [nchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nome_dominio]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nome_dominio](
	[id_nome_dominio] [int] IDENTITY(1,1) NOT NULL,
	[nome_dominio] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parques_cientificos]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parques_cientificos](
	[id_parque] [int] IDENTITY(1,1) NOT NULL,
	[entidade_gestora] [nvarchar](50) NOT NULL,
	[fins_lucrativos] [bit] NULL,
	[interesse_publico] [bit] NULL,
	[contacto_tel] [int] NULL,
	[ano_de_inicio] [date] NULL,
	[patrimonio_acossiativo_e_capital_social] [money] NULL,
	[id_fase_de_desenvolvimento] [int] NULL,
	[id_carateristica_juridica] [int] NULL,
	[id_localizacao] [int] NULL,
	[nome_parque] [nchar](50) NULL,
	[e_mail] [nvarchar](50) NULL,
	[temIncubadora] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[perfil] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resultados_simulacao]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resultados_simulacao](
	[id_resultado] [int] IDENTITY(1,1) NOT NULL,
	[id_empresa] [int] NOT NULL,
	[resultado] [xml] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicos_incubadora]    Script Date: 17/02/2021 15:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicos_incubadora](
	[id_servico] [int] IDENTITY(1,1) NOT NULL,
	[tipo_servico] [nvarchar](50) NULL,
	[id_incubadora] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Areas_negocios] ON 

INSERT [dbo].[Areas_negocios] ([id_area], [id_parque], [id_nome_area]) VALUES (1, 1, 1)
INSERT [dbo].[Areas_negocios] ([id_area], [id_parque], [id_nome_area]) VALUES (2, 1, 2)
INSERT [dbo].[Areas_negocios] ([id_area], [id_parque], [id_nome_area]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[Areas_negocios] OFF
SET IDENTITY_INSERT [dbo].[Carateristicas_instalacoes] ON 

INSERT [dbo].[Carateristicas_instalacoes] ([id_carateristicas], [num_lotes], [num_lotes_ocupados], [estacionamento], [videovigilancia], [seguranca], [tipo_de_rede]) VALUES (1, NULL, 34, 1, 1, 1, N'fibra otipca')
INSERT [dbo].[Carateristicas_instalacoes] ([id_carateristicas], [num_lotes], [num_lotes_ocupados], [estacionamento], [videovigilancia], [seguranca], [tipo_de_rede]) VALUES (2, NULL, 7, 1, 1, 1, N'fibra otipca')
INSERT [dbo].[Carateristicas_instalacoes] ([id_carateristicas], [num_lotes], [num_lotes_ocupados], [estacionamento], [videovigilancia], [seguranca], [tipo_de_rede]) VALUES (3, 16, 13, 1, 1, 1, N'fibra otipca')
SET IDENTITY_INSERT [dbo].[Carateristicas_instalacoes] OFF
SET IDENTITY_INSERT [dbo].[Carateristicas_juridicas] ON 

INSERT [dbo].[Carateristicas_juridicas] ([id_carateristica_juridica], [tipo_carteristica]) VALUES (1, N'Entidade Publica')
INSERT [dbo].[Carateristicas_juridicas] ([id_carateristica_juridica], [tipo_carteristica]) VALUES (2, N'Associação')
INSERT [dbo].[Carateristicas_juridicas] ([id_carateristica_juridica], [tipo_carteristica]) VALUES (3, N'Cooperativa')
SET IDENTITY_INSERT [dbo].[Carateristicas_juridicas] OFF
SET IDENTITY_INSERT [dbo].[Dominios_cientificos_tecnologicos] ON 

INSERT [dbo].[Dominios_cientificos_tecnologicos] ([id_dominio], [id_parque], [id_nome_dominio]) VALUES (1, 1, 1)
INSERT [dbo].[Dominios_cientificos_tecnologicos] ([id_dominio], [id_parque], [id_nome_dominio]) VALUES (2, 1, 2)
INSERT [dbo].[Dominios_cientificos_tecnologicos] ([id_dominio], [id_parque], [id_nome_dominio]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[Dominios_cientificos_tecnologicos] OFF
SET IDENTITY_INSERT [dbo].[Empresa] ON 

INSERT [dbo].[Empresa] ([id_empresa], [nome_empresa], [contacto_tel], [password], [perfil], [e_mail], [validada]) VALUES (1, N'itich', 987654321, N'sad123', 1, N'itich@gmail.com', NULL)
INSERT [dbo].[Empresa] ([id_empresa], [nome_empresa], [contacto_tel], [password], [perfil], [e_mail], [validada]) VALUES (2, N'itich2', 123456789, N'qw', 2, N'itich2', NULL)
INSERT [dbo].[Empresa] ([id_empresa], [nome_empresa], [contacto_tel], [password], [perfil], [e_mail], [validada]) VALUES (3, N'empresa1', 123456789, N'qwe', 2, N'emp1', NULL)
SET IDENTITY_INSERT [dbo].[Empresa] OFF
SET IDENTITY_INSERT [dbo].[Espacos_incubadora] ON 

INSERT [dbo].[Espacos_incubadora] ([id_espaco], [tipo_espaco], [id_incubadora]) VALUES (1, N'Gabinete individual / co-working', 2)
INSERT [dbo].[Espacos_incubadora] ([id_espaco], [tipo_espaco], [id_incubadora]) VALUES (2, N'Gabinete virtual', 2)
INSERT [dbo].[Espacos_incubadora] ([id_espaco], [tipo_espaco], [id_incubadora]) VALUES (3, N'Sala de reuniões e de formação', 2)
SET IDENTITY_INSERT [dbo].[Espacos_incubadora] OFF
SET IDENTITY_INSERT [dbo].[Fases_desenvolvimento] ON 

INSERT [dbo].[Fases_desenvolvimento] ([id_fase_desenvolvimento], [nome_fase]) VALUES (1, N'Fase I')
INSERT [dbo].[Fases_desenvolvimento] ([id_fase_desenvolvimento], [nome_fase]) VALUES (2, N'Fase II')
INSERT [dbo].[Fases_desenvolvimento] ([id_fase_desenvolvimento], [nome_fase]) VALUES (3, N'Fase III')
SET IDENTITY_INSERT [dbo].[Fases_desenvolvimento] OFF
SET IDENTITY_INSERT [dbo].[Incubadoras] ON 

INSERT [dbo].[Incubadoras] ([id_incubadora], [volume_negocios], [numero_de_pessoas], [nom_inc], [id_parque]) VALUES (2, NULL, NULL, N'Universidade de Aveiro Incubator', 1)
INSERT [dbo].[Incubadoras] ([id_incubadora], [volume_negocios], [numero_de_pessoas], [nom_inc], [id_parque]) VALUES (4, 1314124, 9, N'test', 5)
INSERT [dbo].[Incubadoras] ([id_incubadora], [volume_negocios], [numero_de_pessoas], [nom_inc], [id_parque]) VALUES (5, 52000000, 0, N'sanjotec', 6)
SET IDENTITY_INSERT [dbo].[Incubadoras] OFF
SET IDENTITY_INSERT [dbo].[Instalacoes] ON 

INSERT [dbo].[Instalacoes] ([id_instalacoes], [id_carateristicas], [id_parque], [designaca], [localidad], [concelh]) VALUES (8, 1, 1, N'Universidade de Aveiro Incubator', NULL, N'Ilhavo')
INSERT [dbo].[Instalacoes] ([id_instalacoes], [id_carateristicas], [id_parque], [designaca], [localidad], [concelh]) VALUES (9, 2, 1, N'Design Factory Aveiro', NULL, N'Ilhavo')
INSERT [dbo].[Instalacoes] ([id_instalacoes], [id_carateristicas], [id_parque], [designaca], [localidad], [concelh]) VALUES (10, 3, 2, N'iParque', N'Coimbra', N'Antanhol')
SET IDENTITY_INSERT [dbo].[Instalacoes] OFF
SET IDENTITY_INSERT [dbo].[Localizacao] ON 

INSERT [dbo].[Localizacao] ([id_localizacao], [morada], [distrit], [concelh]) VALUES (1, N'Avenida 25 de Abril 3830-044 Ílhavo', N'Aveiro', N'Ilhavo')
INSERT [dbo].[Localizacao] ([id_localizacao], [morada], [distrit], [concelh]) VALUES (2, N'Coimbra', N'Coimbra', N'Antanhol')
INSERT [dbo].[Localizacao] ([id_localizacao], [morada], [distrit], [concelh]) VALUES (4, N'teste', N'teste', N'teste')
SET IDENTITY_INSERT [dbo].[Localizacao] OFF
SET IDENTITY_INSERT [dbo].[Nome_area] ON 

INSERT [dbo].[Nome_area] ([id_nome_area], [nome_area]) VALUES (1, N'Agroindustrial                                    ')
INSERT [dbo].[Nome_area] ([id_nome_area], [nome_area]) VALUES (2, N'Energia                                           ')
INSERT [dbo].[Nome_area] ([id_nome_area], [nome_area]) VALUES (3, N'Materiais                                         ')
SET IDENTITY_INSERT [dbo].[Nome_area] OFF
SET IDENTITY_INSERT [dbo].[Nome_dominio] ON 

INSERT [dbo].[Nome_dominio] ([id_nome_dominio], [nome_dominio]) VALUES (1, N'Biotecnologia Industrial')
INSERT [dbo].[Nome_dominio] ([id_nome_dominio], [nome_dominio]) VALUES (2, N'Bioeconomia e Economia circular')
INSERT [dbo].[Nome_dominio] ([id_nome_dominio], [nome_dominio]) VALUES (3, N'Agroflorestal')
SET IDENTITY_INSERT [dbo].[Nome_dominio] OFF
SET IDENTITY_INSERT [dbo].[Parques_cientificos] ON 

INSERT [dbo].[Parques_cientificos] ([id_parque], [entidade_gestora], [fins_lucrativos], [interesse_publico], [contacto_tel], [ano_de_inicio], [patrimonio_acossiativo_e_capital_social], [id_fase_de_desenvolvimento], [id_carateristica_juridica], [id_localizacao], [nome_parque], [e_mail], [temIncubadora]) VALUES (1, N'Universidade de Aveiro ', 1, 1, 234243750, CAST(N'2010-03-01' AS Date), 7500000.0000, 4, 4, 1, N'PCI - Creative Science Park Aveiro Region         ', N'pci@pci.pt', 1)
INSERT [dbo].[Parques_cientificos] ([id_parque], [entidade_gestora], [fins_lucrativos], [interesse_publico], [contacto_tel], [ano_de_inicio], [patrimonio_acossiativo_e_capital_social], [id_fase_de_desenvolvimento], [id_carateristica_juridica], [id_localizacao], [nome_parque], [e_mail], [temIncubadora]) VALUES (2, N'Coimbra iParque', 1, 1, 239244500, CAST(N'2010-01-01' AS Date), 1000000.0000, 2, 15, 2, N'iparque                                           ', N'geral@coimbraiparque.pt', 0)
INSERT [dbo].[Parques_cientificos] ([id_parque], [entidade_gestora], [fins_lucrativos], [interesse_publico], [contacto_tel], [ano_de_inicio], [patrimonio_acossiativo_e_capital_social], [id_fase_de_desenvolvimento], [id_carateristica_juridica], [id_localizacao], [nome_parque], [e_mail], [temIncubadora]) VALUES (3, N'Biocant Park', 0, 1, 231410890, CAST(N'1970-01-01' AS Date), NULL, 3, 3, 2, N'Biocant Park                                      ', N'info@biocant.pt', 1)
SET IDENTITY_INSERT [dbo].[Parques_cientificos] OFF
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([id], [perfil]) VALUES (1, N'ADM')
INSERT [dbo].[Perfil] ([id], [perfil]) VALUES (2, N'EMP')
SET IDENTITY_INSERT [dbo].[Perfil] OFF
SET IDENTITY_INSERT [dbo].[Resultados_simulacao] ON 

INSERT [dbo].[Resultados_simulacao] ([id_resultado], [id_empresa], [resultado]) VALUES (1, 16, N'PCI_-_Creative_Science_Park_Aveiro_Region_________XMLparque.xml')
INSERT [dbo].[Resultados_simulacao] ([id_resultado], [id_empresa], [resultado]) VALUES (2, 16, N'PCI_-_Creative_Science_Park_Aveiro_Region_________XMLparque.xml')
INSERT [dbo].[Resultados_simulacao] ([id_resultado], [id_empresa], [resultado]) VALUES (3, 16, N'PCI_-_Creative_Science_Park_Aveiro_Region_________XMLparque.xml')
SET IDENTITY_INSERT [dbo].[Resultados_simulacao] OFF
SET IDENTITY_INSERT [dbo].[Servicos_incubadora] ON 

INSERT [dbo].[Servicos_incubadora] ([id_servico], [tipo_servico], [id_incubadora]) VALUES (1, N'Acompanhamento na gestão operacional do negócio', 2)
INSERT [dbo].[Servicos_incubadora] ([id_servico], [tipo_servico], [id_incubadora]) VALUES (2, N'Assessoria e apoio jurídico', 2)
INSERT [dbo].[Servicos_incubadora] ([id_servico], [tipo_servico], [id_incubadora]) VALUES (6, N'Apoio consolidação do modelo e plano de negócios', 2)
SET IDENTITY_INSERT [dbo].[Servicos_incubadora] OFF
